<div id="backgroundModal" class="modal-background" style="display:none">
    <div id="addModal" class="add-modal">
        <h1 class="modal-title">Agregar barbero</h1>
        <form id="servicesForm">
            <div class="form-group">
               <label for="service">Nombre de servicio:</label>
                <input type="text" id="service" autocomplete="service" class="form-control underline-red" name="name" required/>
            </div>

            <div class="form-group">
               <label for="price">Precio:</label>
                <input type="number" id="price" autocomplete="price" class="form-control underline-blue" name="price" required/>
            </div>

            <div class="form-button">
                <button type="submit">Agregar</button>
            </div>
        </form>
    </div>
</div>