{% include 'layout.html' %}
{% include 'modals/add-barber-modal.html' %}

<section class="container">
    {% include 'menu.html' %}

    <h1 class="header-title">Barberos</h1>

    <div class="icon">
        <img id="addIcon" class="add" src="../static/images/add.png" alt="Add" width="24"/>
    </div>

    <table id="barbersTable">
        <thead>
            <tr>
                <th style="display:none">Id</th>
                <th>Nombre</th>
                <th>Meta diaria</th>
                <th>Meta mensual</th>
                <th>Cortes al mes</th>
                <th>Propinas al mes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for barber in barbers %}
            <tr>
                <td style="display:none">{{ barber.id }}</td>
                <td>{{ barber.first_name }} {{ barber.last_name }}</td>
                <td>5</td>
                <td>30</td>
                <td>52</td>
                <td>$2,523.00</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a class="disabled" href="#">&raquo;</a></li>
    </ul>
</section>

<script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

<!-- <a href="https://www.flaticon.es/iconos-gratis/editar" title="editar iconos">Editar iconos creados por Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/ui" title="ui iconos">Ui iconos creados por Us and Up - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/producto" title="producto iconos">Producto iconos creados por Freepik - Flaticon</a> -->