{% include 'layout.html' %}

<section class="container">
    {% include 'menu.html' %}

    <header>
        <div class="account"><img src="../static/images/user.png" alt="user" width="32"/>Bienvenido, Javier</div>
    </header>

    <h1 class="header-title">Clientes</h1>

    <div class="icon">
        <img class="add" src="../static/images/add.png" alt="Add" width="24"/>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Cumpleaños</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alejandro Gutierrez Davila</td>
                <td>+52 (491) 369-2342</td>
                <td>28 de julio de 1978</td>
                <td>Jose Manuel #312, San Pedro Garza</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Gaius Iulius Caesar Augustus</td>
                <td>+52 (331) 234-6344</td>
                <td>30 de noviembre de 1998</td>
                <td>Comanjilla #324, San Luis Potosi</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Juana de Arco</td>
                <td>+52 (552) 646-8654</td>
                <td>12 de enero de 1967</td>
                <td>San Andres #908, Cholula, Puebla</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Menjeperra Thutmose</td>
                <td>+52 (534) 534-9583</td>
                <td>28 de febrero de 2005</td>
                <td>Independencia #142, Guadalajara, Jalisco.</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>George Smith Patton, Jr.</td>
                <td>+52 (754) 734-6453</td>
                <td>11 de noviembre de 1985</td>
                <td>La empanada #984, Chihuahua</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a class="disabled" href="#">&raquo;</a></li>
    </ul>
</section>

<!-- <a href="https://www.flaticon.es/iconos-gratis/editar" title="editar iconos">Editar iconos creados por Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/ui" title="ui iconos">Ui iconos creados por Us and Up - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/producto" title="producto iconos">Producto iconos creados por Freepik - Flaticon</a> -->