{% include 'layout.html' %}
{% include 'modals/add-customer-modal.html' %}

<section class="container">
    {% include 'menu.html' %}

    <header>
        <div class="account"><img src="../static/images/user.png" alt="user" width="32"/>Bienvenido, Javier</div>
    </header>

    <h1 class="header-title">Clientes</h1>

    <div class="icon">
        <img id="addIcon" class="add" src="../static/images/add.png" alt="Add" width="24"/>
    </div>

    <table>
        <thead>
            <tr>
                <th style="display:none">Id</th>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Cumpleaños</th>
                <th>Direccion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td style="display:none">{{ customer.id }}</td>
                <td>{{ customer.first_name }} {{ customer.last_name }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.birthday }}</td>
                <td>{{ customer.address }}</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a class="disabled" href="#">&raquo;</a></li>
    </ul>
</section>

<script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

<!-- <a href="https://www.flaticon.es/iconos-gratis/editar" title="editar iconos">Editar iconos creados por Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/ui" title="ui iconos">Ui iconos creados por Us and Up - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/producto" title="producto iconos">Producto iconos creados por Freepik - Flaticon</a> -->