{% include 'layout.html' %}

<section class="container">
    {% include 'menu.html' %}

    <header>
        <div class="account"><img src="../static/images/user.png" alt="user" width="32"/>Bienvenido, Javier</div>
    </header>

    <div class="statistic-row">
        <div class="statistic">
            <div class="statistic-body">$5,000.00</div>
            <div class="statistic-footer">Ingresos del mes</div>
        </div>
        <div class="statistic">
            <div class="statistic-body">52</div>
            <div class="statistic-footer">Citas completadas</div>
        </div>
        <div class="statistic">
            <div class="statistic-body">12</div>
            <div class="statistic-footer">Clientes nuevos</div>
        </div>
        <div class="statistic">
            <div class="statistic-body">3</div>
            <div class="statistic-footer">Barberos nuevos</div>
        </div>
    </div>

    <div class="chars">
        <div id="myPlot"></div>
        <div id="myPlot2"></div>
    </div>
</section>

<script src="https://cdn.plot.ly/plotly-3.1.2.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

<!-- <a href="https://www.flaticon.es/iconos-gratis/perfiles-de-usuario" title="perfiles de usuario iconos">Perfiles de usuario iconos creados por Nur syifa fauziah - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/barber-shop" title="barber shop icons">Barber shop icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons">Calendar icons created by Prosymbols Premium - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/product" title="product icons">Product icons created by Uniconlabs - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/scissors" title="scissors icons">Scissors icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Dave Gandy - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/customer" title="customer icons">Customer icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons">Calendar icons created by Gajah Mada - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/client" title="client icons">Client icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/product" title="product icons">Product icons created by Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/customer-service" title="customer service icons">Customer service icons created by Icon home - Flaticon</a> -->
<!-- <a href="https://www.flaticon.com/free-icons/barber" title="barber icons">Barber icons created by Marz Gallery - Flaticon</a> -->