{% include 'layout.html' %}

<section class="container">
    <div class="card-container">
        <div>
            <img src="../static/images/barbershop.webp"/>
        </div>
        <div class="card">
            <div class="card-title shadow-dance-container"><div class="shadow-dance-text">Dorado & Negro</div></div>
            <div class="card-body">
                <div class="form-group">
                    <label for="username">Usuario:</label>
                    <input type="text" id="username" autocomplete="username" class="form-control underline-red"/>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" autocomplete="password" class="form-control underline-blue"/>
                </div>

                <div class="form-button">
                    <button type="submit">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</section>