<div class="menu">
    <div class="logo">
        <div><img src="../static/images/dorado-negro-no-bg.png" alt="home" width="64"/></div>
    </div>
    <a href="/" class="menu-item">
        <img src="../static/images/home.png" alt="home" width="32"/>
        <div>Home</div>
    </a>
    <a href="/stock/stock" class="menu-item">
        <img src="../static/images/product.png" alt="stock" width="32"/>
        <div>Inventario</div>
    </a>
    <a href="/customers/customers" class="menu-item">
        <img src="../static/images/customer.png" alt="clients" width="32"/>
        <div>Clientes</div>
    </a>
    <a href="/barbers/barbers" class="menu-item">
        <img src="../static/images/hairstyle.png" alt="employees" width="32"/>
        <div>Barberos</div>
    </a>
    <a href="/services/services" class="menu-item">
        <img src="../static/images/scissors.png" alt="services" width="32"/>
        <div>Servicios</div>
    </a>
    <a href="/appointments/appointments" class="menu-item">
        <img src="../static/images/calendar.png" alt="appointments" width="32"/>
        <div>Citas</div>
    </a>
    <a class="menu-item" onclick="logout()">
        <img src="../static/images/sign-out.png" alt="sign out" width="32"/>
        <div>Cerrar sesion</div>
    </a>
</div>