{% include 'layout.html' %}
{% include 'add-modal.html' %}

<section class="container">
    {% include 'menu.html' %}

    <header>
        <div class="account"><img src="../static/images/user.png" alt="user" width="32"/>Bienvenido, Javier</div>
    </header>

    <h1 class="header-title">Inventario</h1>

    <div class="icon">
        <img id="addIcon" class="add" src="../static/images/add.png" alt="Add" width="24"/>
    </div>

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Unidad</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Crema para peinar</td>
                <td>5</td>
                <td>pza</td>
                <td>$59.99</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jabon en barra</td>
                <td>3</td>
                <td>pza</td>
                <td>$19.99</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Tijeras</td>
                <td>2</td>
                <td>pza</td>
                <td>$199.99</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Agua</td>
                <td>10</td>
                <td>lt</td>
                <td>$9.99</td>
                <td>
                    <div class="icon">
                        <img class="edit" src="../static/images/edit.png" alt="Edit" width="24"/>
                        <img class="delete" src="../static/images/delete.png" alt="Delete" width="24"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a class="disabled" href="#">&raquo;</a></li>
    </ul>
</section>

<script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

<!-- <a href="https://www.flaticon.es/iconos-gratis/editar" title="editar iconos">Editar iconos creados por Freepik - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/ui" title="ui iconos">Ui iconos creados por Us and Up - Flaticon</a> -->
<!-- <a href="https://www.flaticon.es/iconos-gratis/producto" title="producto iconos">Producto iconos creados por Freepik - Flaticon</a> -->